<div class="row mt-5">
  <div class="col-md-10 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-search"></i>  Spotify Search</h1>
      <% include ./partials/messages %>
      <% if (user.access.expires) { %>
          <p>Access token expires <%= user.access.expires %>.</p>
      <% } %>
      <form action="/spotify/search" method="POST">
        <div class="input-group mb-3">
          <input type="text" class="form-control"
            placeholder="Artist, album, playlist, or song ..."
            name="search_term"
            aria-label="Search Spotify for artist, album, playlist, or song"
            aria-describedby="search_term"
          >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </div>
        </div>
      </form>
      <% if (user.searchResults) { %>
          <p>Search results go here... <%= user.searchResults %></p>
          <h3>Albums: <%= user.spotifyResponse.albums.length %></h3>
          <ul class="list-group list-group-flush">
            <% user.spotifyResponse.albums.forEach((album) => { %>
              <ul class="list-group list-group-horizontal list-group-flush">
                <li class="list-group-item narrow-row">
                  <img src=<%= album.image_url %> height=100 >
                </li>
                <li class="list-group-item">
                  <ul class="list-group">
                    <li class="list-group-item narrow-row">Title: <%= album.name %></li>
                    <li class="list-group-item narrow-row">Artists: <%= album.artists.join(", ") %></li>
                  </ul>
                </li>
              </ul>
            <% }); %>
          </ul>
          <h3>Artists: <%= user.spotifyResponse.artists.length %></h3>
          <ul class="list-group list-group-flush">
            <% user.spotifyResponse.artists.forEach((artist) => { %>
              <ul class="list-group list-group-horizontal list-group-flush">
                <li class="list-group-item narrow-row">
                  <img src=<%= artist.image_url %> height=100 >
                </li>
                <li class="list-group-item">
                  <ul class="list-group">
                    <li class="list-group-item narrow-row">Artist: <%= artist.name %></li>
                    <li class="list-group-item narrow-row">Genres: <%= artist.genres.join(", ") %></li>
                  </ul>
                </li>
              </ul>
            <% }); %>
          </ul>
          <h3>Tracks: <%= user.spotifyResponse.tracks.length %></h3>
          <ul class="list-group list-group-flush">
            <% user.spotifyResponse.tracks.forEach((track) => { %>
              <ul class="list-group list-group-horizontal list-group-flush">
                <li class="list-group-item narrow-row">
                  <img src=<%= track.image_url %> height=100 >
                </li>
                <li class="list-group-item">
                  <ul class="list-group">
                    <li class="list-group-item narrow-row">Track: <%= track.name %></li>
                    <li class="list-group-item narrow-row">Album: <%= track.album.name %></li>
                    <li class="list-group-item narrow-row">
                      Disc: <%= track.disc_number %>
                      Track: <%= track.track_number %>
                    </li>
                    <li class="list-group-item narrow-row">Artists: <%= track.artists.join(", ") %></li>
                    <li class="list-group-item narrow-row">Duration: <%= track.duration %></li>
                  </ul>
                </li>
              </ul>
            <% }); %>
          </ul>
          <h3>Playlists: <%= user.spotifyResponse.playlists.length %></h3>
          <ul class="list-group list-group-flush">
            <% user.spotifyResponse.playlists.forEach((playlist) => { %>
              <ul class="list-group list-group-horizontal list-group-flush">
                <li class="list-group-item narrow-row">
                  <img src=<%= playlist.image_url %> height=100 >
                </li>
                <li class="list-group-item">
                  <ul class="list-group">
                    <li class="list-group-item narrow-row">Playlist: <%= playlist.name %></li>
                    <li class="list-group-item narrow-row">Tracks: <%= playlist.tracks %></li>
                    <li class="list-group-item narrow-row">Owner: <%= playlist.owner %></li>
                  </ul>
                </li>
              </ul>
            <% }); %>
          </ul>
      <% } %>
      <p>
        <a href="/spotify" class="btn btn-secondary">Back to Spotify</a>
        <a href="/dashboard" class="btn btn-secondary">Dashboard</a>
        <a href="/profile" class="btn btn-secondary">Profile</a>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
      </p>
    </div>
  </div>
</div>
