<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-search"></i>  Spotify Search</h1>
      <% include ./partials/messages %>
      <% if (user.access.expires) { %>
          <p>Access token expires <%= user.access.expires %>.</p>
      <% } %>
      <form action="/spotify/search" method="POST">
        <div class="input-group mb-3">
          <input type="text" class="form-control"
            placeholder="Artist, album, or song ..."
            name="search_term"
            aria-label="Search Spotify for artist, album, or song"
            aria-describedby="search_term"
          >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </div>
        </div>
      </form>
      <% if (user.searchResults) { %>
          <p>Search results go here... <%= user.searchResults %></p>
          <p>Albums: <%= user.spotifyResponse.albums.length %></p>
          <% user.spotifyResponse.albums.forEach((album) => { %>
            <div>
              <img src=<%= album.image_url %> height=40 >
              <p>Title: <%= album.name %></p>
              <p>Artists: <%= album.artists.join(", ") %></p>
            </div>
          <% }); %>
          <p>Artists: <%= user.spotifyResponse.artists.length %></p>
          <% user.spotifyResponse.artists.forEach((artist) => { %>
            <div>
              <img src=<%= artist.image_url %> height=40 >
              <p>Title: <%= artist.name %></p>
              <p>Genres: <%= artist.genres.join(", ") %></p>
            </div>
          <% }); %>
          <p>Tracks: <%= user.spotifyResponse.tracks.length %></p>
          <% user.spotifyResponse.tracks.forEach((track) => { %>
            <div>
              <img src=<%= track.image_url %> height=40 >
              <p>Title: <%= track.name %></p>
              <p>Artists: <%= track.artists.join(", ") %></p>
              <p>Album: <%= track.album.name %></p>
            </div>
          <% }); %>
          <p>Playlists: <%= user.spotifyResponse.playlists.length%></p>
      <% } %>
      <p>
        <a href="/spotify" class="btn btn-secondary">Back to Spotify</a>
        <a href="/dashboard" class="btn btn-secondary">Dashboard</a>
        <a href="/profile" class="btn btn-secondary">Profile</a>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
      </p>
    </div>
  </div>
</div>
